<!DOCTYPE html>
<!-- 申请确认页面表单 -->
<form role="form" class="submitForm" style="margin-top:20px;">
    <div class="form-group">
        <label for="exampleInputEmail1">验证码</label>
        <input type="text" name="code" class="form-control" id="exampleInputEmail1" placeholder="请输入你邮箱中接收到的验证码">
    </div>
    <button type="button"  class="btn btn-primary tabBtn">重新发送验证码</button>
    <button type="button" style="display: none" url="to/apply/confirm.html" class="btn btn-default tabBtn"></button>
    <button type="button" url="apply/success.html" class="btn btn-success tabBtn">申请完成</button>
</form>
