<!DOCTYPE html>
<!-- 基本信息页表单 -->
<form role="form" class="submitForm" style="margin-top:20px;">
    <div class="form-group">
        <label for="exampleInputEmail1">真实名称</label>
        <input type="text" name="realname"  class="form-control" id="exampleInputEmail1" placeholder="请输入真实名称">
    </div>
    <input value="421421199812016789">
    <div class="form-group">
        <label for="exampleInputCard">身份证号码</label>
        <input type="text" name="cardnum" class="form-control" id="exampleInputCard" placeholder="请输入身份证号码">
    </div>
    <!-- 上一步来到账户选择页面 -->
    <button type="button" url="fg/auth/to/select/account.html" class="btn btn-default tabBtn">上一步</button>
    <!-- 本页的隐藏按钮，用来区分页面 -->
    <button type="button" style="display: none" url="to/basic/information.html" class="btn btn-default tabBtn"></button>
    <!-- 下一步来到资质上传信息 -->
    <button type="button" url="to/cert/upload.html" class="btn btn-success tabBtn">下一步</button>
</form>


